#learn-container {
  position: relative;
  display: flex;
  flex-direction: column;

  background:

    linear-gradient(
      rgba(40, 0, 20, 0.7),
      rgba(0, 0, 0, 0.4)
    ),

    url(/assets/img/bm-sunset-bikes.jpg) no-repeat right fixed;
  background-size: cover;
  overflow-y: scroll;
  min-height: 100%;
}

.person-container {
  display: flex;
  flex-direction: row;
  background: rgba(198, 198, 198, 0.32) !important;
  margin: 0 4px 4px 4px;
  color: rgba(198, 198, 198, 1) !important;
  padding: 4px;
}


.person-container-left {
  width: 40%;
  overflow: hidden;
  margin-right: 4px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.person-container img {
  display: block;
  width: 100% !important;
  height: auto !important;
}

.person-container-right {
  flex: 1;


  align-items: center;
  padding: 12px;

  display: -webkit-flex;

  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.person-container-right .label {

  display: flex;
  flex-direction: column;
}

.person-container-right .topic {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: rgba(198, 198, 198, 1);
  text-transform: uppercase;
}

.person-container-right .name {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  color: rgba(198, 198, 198, 1);

}
