.koulu-toolbar-container {
  padding: 4px;
}
.koulu-toolbar {
  background: rgba(198, 198, 198, 0.32) !important;
  height: 60px;
  z-index: 1;

  display: flex;
  flex-direction: row;
}

.koulu-toolbar-logo {
  position: absolute;
}

.koulu-toolbar-logo img {
  width: 60px;
}

.koulu-toolbar-content {
  flex-grow: 1;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  color: rgba(198, 198, 198, 1) !important;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-left: 15px;
}
.koulu-toolbar-menu {

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  color: rgba(198, 198, 198, 1) !important;
  font-size: 1.3em;
  margin-right: 4%;
}
