#teach-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background:

    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),

    url(/assets/img/bm-sunset-silhouettes.jpg) no-repeat fixed;
  background-size: cover;
  background-position-x: center;
  overflow-y: scroll;
  min-height: 100%;
}

teach-details {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.teach-details-container {

  display: flex;
  flex-direction: column;
}

#details-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.details-form-group {
  display: flex;
  flex-direction: column;
  background: rgba(198, 198, 198, 0.32) !important;
  margin: 0px 4px 4px 4px;
  padding: 12px 12px 36px 12px;
}

:host >>> input.md-input-element {
  color: rgba(198, 198, 198, 1) !important;
}

:host >>> label.md-input-placeholder {
  color: rgba(198, 198, 198, 1) !important;
}

:host >>> md-input {
  overflow: inherit;
  margin-bottom: 12px;
}

:host >>> md-hint {
  color: darkorange;
}

.teach-container-content {
  z-index: 1;
  color: white;
}

.teach-container-actions {
  flex: 1;
  height: 25%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.teach-container-instructions {

  background: rgba(198, 198, 198, 0.32) !important;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px;

  color: rgba(198, 198, 198, 1) !important;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3em;

  text-align: center;
}

.teach-container-actions button {
  background: rgba(198, 198, 198, 0.32) !important;
  width: 100%;
  margin-bottom: 4px;
  margin-left: 4px;
  padding: 12px;

  min-height: 60px;
}

.teach-container-actions i.material-icons {
  color: rgba(198, 198, 198, 1) !important;
  font-size: 2em;
  position: relative;
  top: 5px;
}

.teach-container-actions button:last-child {
  margin-right: 4px;
}

.teach-container-actions button .prefix {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.3em;
  color: rgba(198, 198, 198, 1);
}

.teach-container-actions button .action {
  font-family: 'Droid Sans', sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  color: rgba(198, 198, 198, 1);
  text-transform: uppercase;
}

.photo-booth-container {

  padding: 0px 4px;
}

.teach-container-form {
  flex-grow: 1;
  z-index: 1;
  color: white;
}

.after-selfie-container {
  margin: 24px 0 24px 0;
  flex: 1;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.snapshot {
   width: 200px;
   height: 200px;
}

#photo-booth-ios {
  padding: 0 4px 0 4px;
}

#photo-booth-ios .wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
#photo-booth-ios .wrapper:after {
  padding-top: 75%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

#photo-booth-ios img {
  width: 100%;
}

/* Technique for styling file upload inputs: http://stackoverflow.com/questions/21842274/cross-browser-custom-styling-for-file-upload-button */
#photo-booth-ios label {

  background: rgba(198, 198, 198, 0.32) !important;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#photo-booth-ios .wrapper-target {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

#photo-booth-ios .icon-circle {
  border-radius: 50%;
  background: rgba(198, 198, 198, 0.32) !important;
  width: 3em;
  height: 3em;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#photo-booth-ios input {
  display: none;
}
