html, body{
  height: 100%;
  background: transparent;
  margin: 0;
}

md-content {
  height: 100%;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.circle {

  /* To use this, set width & height on the same element by style or another class. */
  /* Then set background-url on elements that use this class. */

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover;
}

.constrain-ratio-1-1 {

  /* To use this, set width on the same element by style or another class. */

  display: inline-block;
  position: relative;
}

.constrain-ratio-1-1:after {

  /* 1:1 ratio */
  padding-top: 100%;

  display: block;
  content: '';
}

.constrain-ratio-16-9 {

  /* To use this, set width on the same element by style or another class. */

  display: inline-block;
  position: relative;
}

.constrain-ratio-16-9:after {

  /* 16:9 ratio */
  padding-top: 56.25%;

  display: block;
  content: '';
}

.constrain-ratio-4-3 {

  /* To use this, set width on the same element by style or another class. */

  display: inline-block;
  position: relative;
}

.constrain-ratio-4-3:after {

  /* 4:3 ratio */
  padding-top: 75%;

  display: block;
  content: '';
}

.constrain-ratio-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/* Font faces */

@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 700;
  src: local('Averia Serif Libre Bold'), local('AveriaSerifLibre-Bold'), url(/assets/fonts/AveriaSerifLibre-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/open-sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/fonts/material-icons.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



