#home-container {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;

  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

img.home-container-logo {
  height: 250px;
}

#home-container-content {
  flex-grow: 1;
  z-index: 1;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#home-container-actions {

  height: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#home-container-actions button {
  background: rgba(198, 198, 198, 0.32) !important;
  height: 50%;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

#home-container-actions button .prefix {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1.3em;
  color: rgba(198, 198, 198, 1);
  text-transform: uppercase;
}

#home-container-actions button .action {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 2.7em;
  /*font-weight: bold;*/
  color: rgba(198, 198, 198, 1);
  text-transform: uppercase;
}
